*{
	padding: 0;
	margin: 0;
	border: 0;
    font-family: "Roboto Slab", serif;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    color: #333333;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none; color: #FFFFFF;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}


/*-----------------------------------------------------------
-------------------------------------------------------------
------------------------------------------------------------*/

h2 {font-size: 48px; font-weight: 700; line-height: 48px;}
h3 {font-size: 24px; font-weight: 700; line-height: 32px;}
h4 {font-size: 18px; font-weight: 400; line-height: 24px;}

.firstColor { color: #7BC30E;}
.secondColor { color: #FFFFFF;}
.thirdColor { color: #8E8E8E;}
.body__wrapper {width: 100%; overflow: hidden;}

.header__wrapper {
    background-image:  url('img/bg_pack\ 1.png'), 
                       url('img/composition_glass\ 1.png'), 
                       url('./img/1612564390_79-p-yarko-zelenii-fon-abstraktsiya-114\ 1.png');
    background-repeat: no-repeat;
    background-position: 50% 451px , 
                         50% 170px, 
                         center center;
    background-size: 285px 154px ,
                     135px 344px, 
                     cover;
    height: 730px;
}

.header__nav__container { 
    display: flex;
    background: rgba(3, 68, 2, 0.7);
    justify-content: space-between;
    width:100%;
    height: 80px;
    position: fixed;
    z-index: 10;
}

.logo__container { 
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: flex-start;
    margin-left: 10%;
}

.logo__icon {
    max-width: 116px;
}
.contacts__burger__container {display: none;}
.header__nav__menu__list { 
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0% 10% 0% 5%;
    justify-content: space-between;
}
.header__nav__menu__list>li:hover { 
    transform: scale(1.1);
    transition: .3s; 
} 
  
.header__menu__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
} 

.header__description__blocks {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__description__block1 { 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 223px;
    width: 40%;
}
.block1__header { 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 5px;
}

.block1__body { 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__description__block2 { 
    display: flex;
    flex-direction: column;
    margin-top: 217px;
    width: 40%;
}
.block2__header {
    margin-bottom: 11px; 
}

.choose__button__container { 
    margin-top: 14px;
}

.choose__button { 
    background: #7BC30E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 139px;
    height: 37px;
    font-weight: 400;
    font-size: 16px;
}

.contacts__wrapper {
    position: fixed; 
    top: 217px;
    right:5%;
    z-index: 10;
}
.phone__container,
.cart__container {
    background: #7BC30E;
    border-radius: 50px;
    display:flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width:52px;
    height:52px;
}
.social__container {
    background: #7BC30E;
    border-radius: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width:52px;
    height:215px;
}
.cart__icon,
.phone__icon {
    width:25px;
}
.social__icon {
    width:40px;
}
.cart__icon:hover,
.phone__icon:hover, 
.social__icon:hover {
    transform: scale(1.1);
    transition: .3s;
}

/*---ABOUT---*/
    .about__container {
        display: flex;
        margin-top: 70px;
        margin-bottom: 188px;
        background-image: url("img/55b4bee95fad001fcac24d1643ac595b\ 5.png"), 
                          url("img/grlass_sprouts_top\ 1.png");
        background-repeat: no-repeat;
        background-position: top left, top right;
        padding-left: 10%;
    }
    .about__block1 { 
        display: flex;
        flex-direction: column;
        margin-right: 67px;
    }
    .about__block1__icon { 
        width: 139px;
    }
    .about__block1__body { 
        max-width: 250px;
        font-family: 'Caveat';
        font-weight: 400;
        font-size: 22px;
        line-height: 24px;
        margin-top: 34px;
        color: #034402;
    }

    .about__block2 { 
        display: flex;
        flex-direction: column;
    }
    .about__block2__header > h2 {
        margin-bottom: 5px;
     }
    .about__block2__header > p {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #8E8E8E;
        max-width: 392px;;
    }
    
    .about__block2__item {
        display: flex;
        align-items: center;
    }
    .about__block2__item {
        margin-top: 26px;
        max-width: 500px;
    }
    .about__block2__item > p {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        max-width: 500px;
        color: #333333;
    }
    .ol--Style { 
        display:flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        color: #7BC30E;
        border: 4px solid #7BC30E;
        border-radius: 50%;
        min-width:59px;
        min-height: 59px;
        margin-right: 18px;
    }

/*---CONSIST---*/

.consist__container {
    background-image:  url("img/composition_glass\ 1.png"), url("img/зеленый\ фон\ 1.png");
    background-repeat: no-repeat;
    background-position: 50% 100px, center center;
    background-size: 135px 344px, cover;
    padding: 86px 10% 156px;
}
.consist__container__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 45px;
}
.consist__block1 > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    max-width: 460px;
    margin-top: 10px;
}
.consist__block2 {
    display: flex;
    align-items: center;
    position: relative;
}
.consist__block2__icon { 
    margin-right: 28px;
}
.consist__block2__arrow {
    position: absolute; 
    top: -60px;
    left: 43px;
}
.consist__block2 > p {
    font-family: 'Caveat';
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    max-width: 300px;
}
.consist__container__body {
    display: flex;
    justify-content: space-between;
}
.consist__card {
    width: 265px;
    height: 460px;
    background:linear-gradient(rgba(0, 192, 31, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 30px;
    padding: 3% 2%;
}
.consist__card__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7BC30E;
    border-radius: 50px;
    width: 122px;
    height: 77px;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 16px;
}
.consistHR {
    border: none;
    border-top: 2px solid #FFFFFF;
    margin: 7px 0px 18px ;
}
.consist__card__item1,
.consist__card__item2,
.consist__card > p, span {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
 } 
  
.consist__card__item1 {
    margin-bottom: 10%;
}

.swiper1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    overflow: visible;
}
.swiper-wrapper {
    justify-content: space-between;
}

.swiper-slide {
    max-width: 265px;
}
.swiper-pagination1 {
    display: flex;
    justify-content: center;
    margin: 30px 0px 0px 0px;
}
.swiper-pagination-bullet {
    width: 9px !important;
    height: 9px !important;
    background: #D9D9D9 !important;
}
.swiper-pagination-bullet-active {
    width:21px !important;
    height:9px !important;
    border-radius: 10px !important;
    background: #229B32 !important;
}    
/*---FOR-WHOM BLOCK---*/ 

.forWhom__container {
    background-image: url("img/55b4bee95fad001fcac24d1643ac595b\ 3.png"),
                     url("img/55b4bee95fad001fcac24d1643ac595b\ 1.png");
    background-repeat: no-repeat;
    background-position: left 990px, 
                         right 20px;
    padding: 5% 10% ;
}
.forWhom__block1 {
    display: flex;
    justify-content: flex-start;
    margin:50px;
}
.forWhom__block2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.forWhom__block__icon {
    margin-right: 25px;
}
.forWhom__block__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 435px;
}

.forWhom__block__description > h2 {
    margin-bottom: 13px;
}
.forWhom__block__description > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-top: 5%;
    color: #333333;
}
.forWhom__footer { 
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    margin-top: 136px;
}
.forWhom__footer__icon { 
    margin-right: 13px;
}
.forWhom__footer__arrow {
    position: absolute;
    top: -44px;
    right: 260px;
 }
.forWhom__footer__description { 
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #034402;
    max-width: 360px;
}

/*---VITAMINS BLOCK---*/

.vitamins__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("img/photo\ 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 780px;
}
.vitamins__container__main {
    display: flex;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    width: 70%;
    padding: 3%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.vitamins__main__header > h2,h3 {
    margin-bottom: 2%;
    max-width: 428px;
}

.vitamins__main__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    width: 100%;
    margin-top: 5%;
}
.vitamins__body__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vitamins__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 83px;
    height: 128px;
    padding: 5% 1%;
    border: 4px solid #FFFFFF;
    border-radius: 60px;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 13px;
}
.smallElement {
    font-size: 16px;
}
.vitamins__description {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    max-width: 102px;
}

/*---REASONS BLOCK---*/

.reasons__container {
    margin: 10%;
}
.reasons__container__header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}
.reasons__header__title {
    max-width: 330px;
}
.reasons__header__note { 
    display: flex;
    align-items: center;
    position: relative;
}
.reasons__note__icon {
    margin-right: 20px;
 }
.reasons__note__arrow {
    position: absolute;
    top: -45px;
    left: 90px;
}
.reasons__note__description { 
    max-width: 590px;
    font-family: 'Caveat';
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #034402;
}

.reasons__body__item { 
    max-width: 240px;
}
.reasons__body__item > h3 { 
    margin: 20px 0px 12px
}
.reasons__body__item > p { 
    max-width: 208px;
 }
.reasons__header__note__footer {
    display: none;
}


/*---NORMS BLOCK---*/
.norms__container {
    background: #EEEEEE;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("img/G_splashes\ 1.png");
    background-repeat: no-repeat;
    background-position: top right;
   
}
.norms__description {
    display: flex;
    flex-direction: column;
    max-width: 550px;
}

.norms__header {
    margin-bottom: 9%;
}
.norms__header > h4 {
    color: #8E8E8E;
}
.norms__body > p {
    margin-bottom: 4%;
}

/*--CHANGE YOUR LIFE BLOCK---*/

.changeYourLife__container {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-image: url('img/Rectangle\ 44.png'), url('img/Green_Tiberium_by_taiki676\ 1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
}
.changeYourLife__header {
    padding: 5%;
}

.changeYourLife__body {
  display: flex;
  margin-bottom: 10%;
}

.changeYourLife__card {
    display: flex !important;;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    padding: 5% 1% 2%;
    background: linear-gradient(180deg, #00C01F 0%, #000000 100%);
    border-radius: 31px;
    color: #F2F2F2;
    
  }
  
.swiper3 {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 500px;
    overflow: visible;
}
.swiper-slide {
    width: 265px;
    max-height: 460px;
}

.swiper-pagination3 {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}
.swiper-pagination-bullet {
    width: 9px !important;
    height: 9px !important;
    background: #D9D9D9 !important;
}
.swiper-pagination-bullet-active {
    width:21px !important;
    height:9px !important;
    border-radius: 10px !important;
    background: #229B32 !important;
}    

  .changeYourLife__card__title { 
      font-weight: 700;
      font-size: 32px;
      line-height: 42px;
  }
  .changeYourLife__card__subtitle { 
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
  }
  .changeYourLife__card__price { 
      font-weight: 700;
      font-size: 32px;
      line-height: 42px;
  }
  .changeYourLife__card__quantity { 
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
  }
  .changeYourLife__card__header,
  .changeYourLife__card__body {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
   
  .changeYourLife__card__footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
  }
  .yellowSticker {
      display: flex;
      justify-content: center;
      background:#FFE600; 
      color: #333333;
      border-radius: 0px 31px 0px 0px;
      position: absolute;
      top:0;
      right: 0;
      width: 50%;
      padding: 3%;
  }
  .changeYourLife__order__button {
     height: 48px;
     width: 90%;
     margin-top:10%;
     margin-bottom: 1%;
     background: #7BC30E;
     color: #FFFFFF;
     border-radius: 50px;
     font-size: 24px;
  }
  .changeYourLifeHR {
      width: 80%;
      border: 1.5px solid #FFFFFF;
  }

/***______________
____MODAL WINDOW__
______________***/  
.modal {
    display: none; 
    position: fixed; 
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); 
    overflow: auto;
}
  
.modal-content {
    background: linear-gradient(180deg, #00C01F 0%, #000000 100%);
    margin:15% auto;
    padding: 20px;
    border-radius: 37px;
    width: 373px; 
    height: 615px;
}
.modal__title { 
    display: flex;
    justify-content: center;
    margin: 10%;
}
.product__wrapper { 
    display: flex;
    flex-direction: column;
    width: 70%;
}
.promo__wrapper { 
    display: flex;
    width:80%;
}
.close {
    color: #D9D9D9;
    float: right;
    font-size: 58px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 75%;
}
select {
    background: transparent;
    color:#fff;
    margin-bottom: 5%;
}

input {
    background-color: #7BC30E;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding: 5px;
    width: 80%;
}
input::placeholder {
        color: #FFFFFF;
}
.promo-code {
    background: transparent;
    color: #7BC30E;
    border: 1px solid #7BC30E;
    border-radius: 27px;
}
.promo-code::placeholder {
    color: #7BC30E;
}
.promo__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.payment__wrapper {
    display: flex;
    color: #fff;
}
button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #7BC30E;
    color: #fff;
    cursor: pointer;
}
  
button:hover {
    background-color: #76c106;
}


  
/*--FEEDBACK BLOCK---*/

.feedback__header {
    display: flex;
}
.feedback__header__description {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    max-width: 40%;
    margin-left: 1%;
}

.feedback__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    align-items: center;
    overflow: hidden;
}
.feedback__slides {
    justify-content: center;
    align-items: center;
}
  
.feedback__block {
    display: flex !important;
    justify-content: flex-start;
    width:30%;
}
.feedback__block__description {
    margin-left: 30px;
}
.feedback__block__title { 
    font-weight: 700;
    font-size: 18px;
}
.feedback__block__subtitle { 
    margin:10px 0px;
    font-weight: 400;
    font-size: 12px;
}
.feedback__block__body {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.swiper-pagination4 {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}
.swiper-pagination-bullet {
    width: 9px !important;
    height: 9px !important;
    background: #D9D9D9 !important;
}
.swiper-pagination-bullet-active {
    width:21px !important;
    height:9px !important;
    border-radius: 10px !important;
    background: #229B32 !important;
}    


 /*--FOOTER BlOCK---*/
 .footer__container {
    display: flex;
    background-image: url("img/1612695742_51-p-zelenii-fon-slizerin-63\ 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }
  .footer__contacts {
    max-width: 350px;
  }
  .footer__nav__container {
    display: flex;
    flex-direction: column;
   
  }
  .footer__nav__link {
     text-decoration: underline;
  } 
/*--------------------------
------------MOBILE----------
---------------------------*/
    @media screen and (max-width: 950px) {

        h2 {font-size: 36px; font-weight: 700; line-height: 36px;}
        h4 {font-size: 16px; font-weight: 400; line-height: 21px;}
        body._lock { overflow: hidden; }
        .logo__container {
            margin-left: 5%;
        }
        .contacts__burger__container {     
            display: flex;
            justify-content: space-between;
            width: 40%;
            align-items: center;
            margin-right: 5%;
        }
        .phone__icon { width:21px;}
        .cart__icon { width:21px;}
        .header__menu__hamburger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 40px;
            height: 12px;
            position: relative;
            top: 0;
            right: 0;
            cursor: pointer;
        }
        .header__menu__hamburger span,
        .header__menu__hamburger::before,
        .header__menu__hamburger::after {
            left: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all 0.3s ease 0s;
            background-color: #FFFFFF;
        }
        .header__menu__hamburger::before,
        .header__menu__hamburger::after {
            content: '';
        }
        .header__menu__hamburger::before {
            top: 0;
        }
        .header__menu__hamburger::after {
            bottom: 0;
        }
        .header__menu__hamburger span {
            top: 50%;
            transform: scale(1) translate(0px, -50%);
        }
        .header__menu__hamburger._active span {
            transform: scale(0) translate(0px, -50%);
        }
        .header__menu__hamburger._active::before {
            top: 50%;
            transform: rotate(-30deg) translate(0px, -50%);
        }
        .header__menu__hamburger._active::after {
            bottom: 50%;
            transform: rotate(30deg) translate(0px, 50%);
        }
    
        .header__nav__menu__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            position: fixed;
            top: 80px;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color:  rgba(3, 68, 2, 0.939);
            transition: left 0.3s ease 0s;
            margin: 0;
        }
        .header__nav__menu__list._active {
            left: 0;
        }
        .header__nav__menu__list > li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            transform: translate(0px, 10%);
            transition: all 0.3s ease 0s ;
            width: 100%;
            padding: 2% 0;
            
        }
        .header__nav__menu__list>li:hover {
            background-color: rgb(2, 46, 1);}
        
        .header__nav__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 80px;
        }
        
        .header__wrapper {
            background-image:  url('img/bg_pack\ 1.png'), 
                               url('./img/1612564390_79-p-yarko-zelenii-fon-abstraktsiya-114\ 1.png');
            background-repeat: no-repeat;
            background-position: 50% 337px ,
                                 center center;
            background-size: 285px 154px ,
                             cover;
            height: 730px;
        }
        .header__description__blocks {
            flex-direction: column;
        }
        
        .header__description__block1 { 
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 133px;
            width: 100%;
        }
        .block1__header { 
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 5px;
        }
        
        .block1__body { 
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .header__description__block2 { 
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 182px;
            width: 100%;
        }
        .block2__header {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 11px; 
        }
        .block2__body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .choose__button__container { 
            margin-top: 16px;
        }
        .contacts__wrapper {
            display: none;
        }

/*---ABOUT MOBILE---*/
        .about__container {
            display: flex;
            flex-direction: column-reverse;
            margin-top: 70px;
            margin-bottom: 0px;
            padding-right: 10%;
            background-image: none;
        }        
        .about__block1 {
            margin:30px 0px;
            align-items: center;
        }

/*---CONSIST BLOCK MOBILE---*/    
        .consist__container {
            background-image: url("img/зеленый\ фон\ 1.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            padding: 30px 10%;
            position: relative;
        }
        .swiper1 {
            margin-bottom: 140px;
        }
        .consist__block2 {
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
        }
        .consist__block2__arrow {
            display: none;
        }
      
/*---FOR-WHOM BLOCK MOBILE---*/        
        .forWhom__container {
            background-image: none;
            
        }
        .forWhom__block1 {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
        }
        .forWhom__block2 {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 30px 0;
        }
        .forWhom__footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }
        .forWhom__footer__icon {
            margin-bottom: 20px;
        }
        .forWhom__footer__arrow {
            display: none;
        }

/*---VITAMINS BLOCK MOBILE---*/
        .vitamins__container__main {
            padding: 5%;
            width: 80%;
            margin: 60px 0px;
            
        }
        .vitamins__main__header {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .vitamins__main__header > h2{
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 20px;
        }
        
        .vitamins__main__header > h3{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
        }
        
        .vitamins__main__header > p {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
        }
        
        .vitamins__main__body {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }

/*---REASONS MOBILE + SWIPER-2---*/       

        .reasons__container__header {
            display: block;
            margin-bottom: 45px;
        }
        .reasons__header__note {
            display: none;
        }
        .reasons__header__note__footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top:70px;
        }
        .reasons__note__icon__footer {
            max-width: 128px;
            margin-bottom: 21px;
        }
        .reasons__container__body__grid {
            display: none;
        }

/*---NORMS BLOCK MOBILE---*/     
        .norms__container {
            background-image: url('img/55b4bee95fad001fcac24d1643ac595b\ 4\ \(1\).png');
            background-repeat: no-repeat;
            background-size: auto;
            background-position: 0px 40px;
        }
        .norms__container__icon {
            display: none;
        }
        .norms__header {
            margin: 8% 0% 5% 15%;
        }
        .norms__body {
            margin-top: 10%;
        }
       
/*---CHANGE YOUR LIFE BLOCK MOBILE---*/  
        .yellowSticker {
            padding: 1%;      
        }   
}
/*--------------------------
------------TABLET----------
---------------------------*/
    @media screen and (min-width: 951px) and (max-width: 1250px) {
        h2 {font-size: 36px; font-weight: 700; line-height: 36px;}
        h4 {font-size: 16px; font-weight: 400; line-height: 21px;}

        .contacts__wrapper {
            right: 2%;
        }
/*---ABOUT TABLET---*/
.about__container {
    background-image: url("img/55b4bee95fad001fcac24d1643ac595b\ 5.png");
    background-repeat: no-repeat;
    background-position: top left;
}        
/*----FOR-WHOM BLOCK TABLET---*/
        .forWhom__container {
            background-image: none;
        }
        .forWhom__block1,
        .forWhom__block2 {
            margin: 50px 0px;
        }
        .forWhom__block__icon >img {
            width:400px;
        }

/*---REASONS TABLET---*/
        .reasons__container__header {
            display: block;
        }
        .reasons__header__title {
            margin-bottom: 100px;
        }
        .reasons__header__note {
            display: none;
        }
        .reasons__header__note__footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top:120px;
        }
        .reasons__note__icon {
           max-width:128px;
        }
        .reasons__container__body__grid {
            display: none;
        }

/*---NORMS BLOCK TABLET---*/
        .norms__container {
            background-image: none;
            padding: 5%;
        }
        .norms__container__icon {
            margin-right: 5%;
        }
    }



/*--------------------------
------------DESKTOP---------
---------------------------*/  
    @media screen and (min-width: 1250px) {
        
/*---REASONS DESK---*/        
        .swiper2 {
            display: none;
        }
        .reasons__container__body__grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-auto-rows: 1fr 1fr;
        }
        .reasons__body__item {
            margin: 1%;
        }
        
    }